$brand-primary: #396D5B;
$brand-primary-lighter: lighten($brand-primary, 60%);

// Designer colors
$link-color: #0070C0;
$headings-color: #000000;
$text-color: darken(#767171, 20%);
$menu-color: #595959;
$section-heading-color: #F15B2A;
$section-background-color: #f7f9fa;


// Font
@import "custom/font";
$font-family-base: 'Avenir Next Regular';

// Break points
$screen-xxs-min: 350px;

// Navbar
$navbar-default-bg: #fff;
$navbar-default-color: $menu-color;
$navbar-height: 65px;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-active-color: $brand-primary;


// Breadcrumb
$breadcrumb-separator: ">";
$breadcrumb-bg: #fff;
$breadcrumb-padding-horizontal: 5px;


// bootstrap components
@import "bootstrap";

// custom components
@import "custom/navbar";
@import "custom/footer";
@import "custom/general";
@import "custom/main-title-box";
@import "custom/main-section-box";
@import "custom/title-box";
@import "custom/section-box";
@import "custom/shortcut-box";

