$brand-primary: #396D5B;

// Designer colors
$link-color: #0070C0;
$headings-color: #000000;
$text-color: #767171;
$menu-color: #595959;



// Font
@import "custom/font";
$font-family-base: 'Avenir Next Regular';


// Navbar
$navbar-default-bg: #fff;
$navbar-default-color: $menu-color;
$navbar-height: 65px;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-link-active-color: $brand-primary;


// Breadcrumb
$breadcrumb-separator: ">";
$breadcrumb-bg: #fff;
$breadcrumb-padding-horizontal: 5px;


// bootstrap components
@import "bootstrap";

// custom components
@import "custom/navbar";
@import "custom/footer";
@import "custom/general";
@import "custom/title-box";
@import "custom/section-box";
@import "custom/shortcut-box";

