{% extends "base.html" %}

{% block nav_home_class %}active{% endblock %}
{% block nav_home_sr_class %}<span class="sr-only">(current)</span>{% endblock %}

{% block pre_content %}

<div id="content" class="container">


<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">About</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="title-box">
            <img class="title-box_icon" src="https://logicaloutcomes.github.io/ocasi-theme/img/icons/network.png" alt="Help">
            <h1 class="title-box_title">About SIS</h1>
            <div class="title-box_description">
                <p>SIS (Service Information System) is a new evaluation platform for agencies serving immigrants and refugees. It was developed by LogicalOutcomes, a Canadian nonprofit, in partnership with OCASI (the Ontario Council of Agencies Serving Immigrants), with funding from the Ontario Ministry of Citizenship and Immigration.</p>

<p>SIS lowers the cost and improves the value of monitoring and evaluation for nonprofits. Our web-based platform includes a complete set of evaluation tools, so it's easy to run evaluation projects. From creating an evaluation plan, to collecting and managing data, to generating attractive and insightful reports - SIS provides agencies the tools they need to measure program outcomes and communicate results.</p>

            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">


        <div class="row">
    <div class="col-md-12">
        <h2 class="section-title__small">What's so great about SIS?</h2>

        <hr>

        <div class="section-box">
            <div class="section-box_content">
                <h3 class="section-box_content_title__small">1. State-of-the-art evaluation design</h3>
                <p class="section-box_content_description">
                    We start with a tailor-made logic model to guide you through your evaluation. <br>
                    Our high-quality indicators measure program outcomes the right way. This means that findings can be shared, compared, and aggregated across the sector.
                </p>
            </div>
        </div>

        <hr>

        <div class="section-box">
            <div class="section-box_content">
                <h3 class="section-box_content_title__small">2. Trouble-free data collection</h3>
                <p class="section-box_content_description">
                    We offer survey templates with pre-populated questions to help you track client demographics, health, education, social inclusion, finances and more. <br>
                    We provide many options for data collection. Staff and clients can respond to online surveys on a computer or a mobile phone. You can conduct telephone interviews or print surveys for manual data entry.
                </p>
            </div>
        </div>

        <hr>

        <div class="section-box">
            <div class="section-box_content">
                <h3 class="section-box_content_title__small">3. Secure data storage</h3>
                <p class="section-box_content_description">
                    Data is stored on Canadian servers and protected by multiple layers of encryption and authentication, so responses from staff and clients remain private and confidential.
                </p>
            </div>
        </div>

        <hr>

        <div class="section-box">
            <div class="section-box_content">
                <h3 class="section-box_content_title__small">4. Powerful analysis and reporting</h3>
                <p class="section-box_content_description">
                    DOur powerful data visualization and reporting engine makes it easy to analyze program impact, view findings, and generate reports.<br>
                    Our interactive data portal uses information from Statistics Canada to create charts and graphs showing income and employment trends for immigrants in your community. Use it to establish need in your community or add context to your reports.
                </p>
            </div>
        </div>

        <hr>

    </div>

</div>


<h1>The Partners</h1>

<p>
    <a href="http://www.ocasi.org/" title="OCASI">OCASI</a> was formed in 1978 to act as a collective voice for immigrant-serving agencies and to coordinate responses to shared needs and concerns. OCASI is a registered charity governed by a volunteer board of directors. Its membership is comprised of more than 225 community-based organizations in Ontario.
</p>

<p><a href="http://logicaloutcomes.net/" title="Logical Outcomes">LogicalOutcomes</a> is a Canadian nonprofit with a mission to build organizational evaluation and learning capacity to improve lives. Over the past two years we have successfully implemented ten evaluation systems built on District Health Information Software (DHIS2), the software platform that forms the basis for SIS.ngo. </p>



    </div>
</div>


        </div>

{% endblock %}