{% extends "base.html" %}


{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Credits</li>
</ol>


<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Credits</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <hr>

        <div>Icons made by <a href="http://www.flaticon.com/authors/vectors-market" title="Vectors Market">Vectors Market</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

        <hr>

        <p>
            <a href="http://aristotlemetadata.com">Aristotle Metadata Registry</a>
        </p>

        <hr>

    </div>

</div>

{% endblock %}

