{% extends "base.html" %}

{% block nav_data_portal_class %}active{% endblock %}
{% block nav_data_portal_sr_class %} <span class="sr-only">(current)</span>{% endblock %}

{% block content %}

    <ol class="breadcrumb">
      <li ><a href="./">Home</a></li>
      <li class="active">Community data portal</li>
    </ol>

    <div class="row">
        <div class="col-md-12">
            <div class="title-box">
                <img class="title-box_icon" src="img/icons/user.png" alt="Data portal">
                <h1 class="title-box_title">Community data portal</h1>
                <p class="title-box_description">
                    How do immigrants compare with the local community?
                </p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title">Who are you interested in?</h2>
            <p>
                Default is for the whole population of Ontario. These tables are based on the 2011 National Household Survey. For information see [link].
            </p>
        </div>
    </div>

    {% block data_portal_content %}

    {% endblock data_portal_content %}


{% endblock %}