{% extends "base.html" %}

{% block nav_home_class %}active{% endblock %}
{% block nav_home_sr_class %}<span class="sr-only">(current)</span>{% endblock %}

{% block pre_content %}

<div class="container">

    <ol class="breadcrumb">
      <li><a href="./">Home</a></li>
      <li class="active">OCASI</li>
    </ol>

    <div class="row">
        <div class="col-md-12 main-title-box">
            <h1 class="main-title-box_title">Welcome to the OCASI Service Information System</h1>
            <p class="main-title-box_description">
            Find out about your agency and the community you serve. <br>
            Use shared indicators and measures to assess your programs and organization
            </p>
        </div>
    </div>

</div>
<div class="section-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="main-section-box">
                    <a href="#" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="img/icons/network.png" alt="Community data portal">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Get started with SIS</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">
                        Not sure where to begin?<br>
                        Watch these videos and learn how to use SIS
                    </p>
                    <p class="main-section-box_link">
                        <a href="#">Click to get started</a>
                    </p>
                </div>
            </div>  

            <div class="col-sm-6">
                <div class="main-section-box">
                    <a href="#" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="img/icons/user.png" alt="Community data portal">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Community data portal</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">Find out how immigrants in your community are doing in comparison with the overall population.</p>
                    <p class="main-section-box_link">
                        <a href="#">Use the community data portal</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="main-section-box">
                    <a href="#" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="img/icons/reunion.png" alt="Indicator registry">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Indicator registry</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">Find indicators for your programs, and browse survey questions that might be relevant to your agency.</p>
                    <p class="main-section-box_link">
                        <a href="#">View the Indicator Registry </a>
                    </p>
                </div>
            </div>
  
            <div class="col-sm-6">
                <div class="main-section-box">
                    <a href="#" class="main-section-box_header-links">
                        <img class="main-section-box_icon" src="img/icons/box.png" alt="Evaluation tools">
                        <div class="main-section-box_titles">
                            <h3 class="main-section-box_titles_title">Evaluation tools</h3>
                        </div>
                    </a>
                    <p class="main-section-box_description">Customize your logic model, design an evaluation plan and create a Data Management Plan.</p>
                    <p class="main-section-box_link">
                        <a href="#"> View more information</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}