.footer {
    padding: 20px 0;
    background-color: $brand-primary;
    color: #fff;
    text-align: center;

    @media (min-width: $screen-md-min){
        text-align: left;
    }

    a {
        color: #fff;
    }

    &_social {
        a {
            margin-right: 7px;

            &:hover{
                text-decoration: none;
            }
        }
    }

    &_center {
        text-align: center;
        &_label {
            margin: 0;
        }
        img {
            height: 85px;
            margin-bottom: 10px;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding-top: 5px;
        }
    }

    .credits {
        margin-top: 15px;
        text-align: center;
    }

    .underline {
        text-decoration: underline;
    }
}
