.navbar {
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid $gray-lighter;
    margin-bottom: 10px;

    .open {
        a:focus {
            background-color: $brand-primary-lighter !important;
        }
    }
}


.navbar-brand {
    img {
        height: 38px;
        margin-top: -9px;
    }
}
