.section-box {
	&_icon {
		height: 48px;
		float: left;
	    margin-top: -5px;
	}

	&_content {
		margin-left: 48+15px;

        &_title {
            &__small {
                font-size: 18px;
            }
        }
	}
}